* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

body {
  background-color: #272626;
  color: aliceblue;
  padding-bottom: 500px;
}

h1{
  text-align: center;
  color: #cc6a28;
}

p{
  color: #28c1cc;
}
